<div style="width: auto;">
    <button>home</button>
    <button>Report</button>
    <!-- <button class="contractbtn" click="openFolderDialog($event)">New Contract</button> -->
        <button mat-icon-button [adf-create-folder]="" title="Create New Folder">
            <mat-icon>create_new_folder</mat-icon>New Contract
        </button>
   
    <div>
        <div class="pendingapproval">
            <span style="font-weight: bold;">My pending contract approval</span>

        </div>
        <div class="recentlyviewed">
            <span style="font-weight: bold;">Contracts - Recently Viewed</span>
        </div>
    </div>
    <div class="allcontract">
        <span style="font-weight: bold;">All Contracts</span>
        <table>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Last Modified By</th>
                <th>Last Modified On</th>
            </tr>
            <tr *ngFor="let node of listnodedatas; let id = index">
                <td hidden>
                    <input id="nodeid" value={{node.entry.name}} />
                </td>
                <td>
                    <a href="/contract-details/{{node.entry.id}}"><span>{{node.entry.name}}</span></a>
                    <!-- <a href="/contract-details"><span>{{node.entry.name}}</span></a> -->
                </td>
                <td>
                    <span>{{NA}}</span>
                </td>
                <td>
                    <span>{{node.entry.createdByUser.displayName}}</span>
                </td>
                <td>
                    <span>{{node.entry.modifiedByUser.displayName}}</span>
                </td>
                <td>
                    <span>{{ node.entry.modifiedAt | date:'MMMM, dd yyyy'}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>