.pendingapproval{
    /* width: 500px; */
    border: 3px solid black;
    padding: 50px;
    margin: 10px;
    border-radius:10px;
  }
  .recentlyviewed{
    /* width: 500px; */
    border: 3px solid black;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
  }
  .allcontract{
    /* width: 100%; */
    border: 3px solid black;
    padding: 50px;
    margin: 10px;
    border-radius:10px;
  }
  .contractbtn{
    float: right;
    margin-right: 150px;
    /* align-self: right; */
  }
  table, th, td {
    align-items: left;
    /* border: 1px solid black; */
    /* padding: 10px; */
  }
  /* .createfolder{
    align-items: right;
  } */