<div style="width: auto;">
    <button>home</button>
    <button>Report</button>
    <button class="contractbtn">Share</button>
    <div>
        <span>Test Contract</span>
        <div >
            <span>Information</span>
            <div class="info">
                <p>Created By:</p>
                <p>Created On:</p>
                <p>Modified By:</p>
                <p>Status:</p>
                <p>Workflow Status:</p>
                <p>Current Workflow Step:</p>
            </div>
        </div>
        <div >
            <span>File</span>
            <button>Add</button>
            <button>Remove</button>
            <div class="File">
                <p>Name:</p>
                <p>Modified On:</p>
                <p>Modified By:</p>
                <p>Status:</p>
                <p>Version:</p>
                <p>Checked_out_by:</p>
            </div>
        </div>
        <div >
            <span>Workflow</span>
            <button>Add Step</button>
            <button>Remove Step</button>
            <button>Hold/Resume</button>
            <div class="Workflow">
                <p>Step 1:</p>
                <p>Step 2:</p>
            </div>
        </div>
        <div class="Comments">
            <span>Comments</span>
           
        </div>
        <div class="Audit">
            <span>Audit History</span>
        </div>
    </div>
   
</div>
