.info{
    /* width: 500px; */
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    border-radius:10px;
  }
  .File{
    /* width: 500px; */
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    border-radius:10px;
  }
  .Workflow{
    /* width: 500px; */
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    border-radius:10px;
  }
  .Comments{
    /* width: 500px; */
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    border-radius:10px;
  }
  .Audit{
    /* width: 500px; */
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    border-radius:10px;
  }
  .btnhome{
    float:left;
  }
  button{
    /* margin-right: 100px; */
    margin: 5px;
    padding: 5px;
    /* float:right; */

  }
  table, th, td {
    /* border: 1px solid black; */
    padding: 10px;
  }
  .maindiv{
    border: 3px solid black;
    padding: 50px;
    margin-top: 20px;
    border-radius:20px;
  }