<div class="container">
    <h1 mat-dialog-title>Select Content Type</h1>
    <!-- <div mat-dialog-content>This dialog select content type.
    </div> -->
    <mat-form-field appearance="fill">
        <label for="contenttype">Content type</label>
        <!-- <mat-select formControlName="contenttype" (change)="show=!show" (ngModel)="show"> -->
        <mat-select formControlName="contenttype" (selectionChange)="changecontenttype($event)">
            <mat-option *ngFor="let ct of contentTypes" [value]="ct.value">
                {{ct.displayValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
    <!-- <div *ngIf="isShown"> -->
    <!-- <ng-container *ngIf="isShown"></ng-container> -->
    <!-- <div>
        <input type="file" class="file-upload" multiple (onchange)="console.log(event.target.files)">
    </div> -->
    <div class="form-control" *ngIf="isShown">
        <!-- <label for="file">Choose File</label> -->
        <input type="file" id="file" multiple>
    </div>
    <div *ngIf="checked">
        <mat-checkbox class="">Apply Same Content Type to all the Document</mat-checkbox>

        <!-- <mat-checkbox class="" [(ngModel)]="checked" *ngIf="checked">Checked</mat-checkbox> -->
    </div>
    <!-- <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="contenttype">Content type: </label>
            <select formControlName="contenttype" class="form-control" (change)="changecontenttype($event)">
                <option value="" disabled selected>Choose Content Type</option>
                <option *ngFor="let ct of contentTypes" [value]="ct.value">{{ct.displayValue}}</option>
            </select>
            <div ng-show="false">
                <input type="file" class="file-upload" onchange="console.log(event.target.files)">
            </div>
            <div *ngIf="f.contenttype.touched && f.contenttype.invalid" class="alert alert-danger">
                <div *ngIf="f.contenttype.errors.required">Name is required.</div>
            </div>
        </div>
    </form> -->
</div>