<!-- <div class="container">
    <h1 mat-dialog-title>Select Content Type</h1>
    <mat-form-field appearance="fill">
        <label for="contenttype">Content type</label>
        <mat-select formControlName="contenttype" (selectionChange)="changecontenttype($event)">
            <mat-option *ngFor="let ct of listcontentdatas" [value]="ct.entry.id">
                {{ct.entry.id}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
    <div class="form-control" >
        <adf-upload-button  [multipleFiles]="true">
        </adf-upload-button>
    </div>
    <div>
        <mat-checkbox class="">Apply Same Content Type to all the Document</mat-checkbox>
    </div>
</div> -->
<!-- <button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out content type</ng-template>
            <h1 mat-dialog-title>Select Content Type</h1>
            <mat-form-field appearance="fill">
                <label for="contenttype">Content type</label>
                <mat-select formControlName="firstCtrl" (selectionChange)="changecontenttype($event)"
                    aria-required="true">
                    <mat-option *ngFor="let ct of listcontentdatas" [value]="ct.entry.id">
                        {{ct.entry.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your Document</ng-template>
            <!-- <mat-form-field appearance="fill"> -->
                <adf-upload-button [multipleFiles]="true" (success)="uploadSuccess($event)">
                </adf-upload-button>
            <!-- </mat-form-field> -->
            <div>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Confirm your information">
        Everything seems correct.
        <div>
            <button mat-button matDialogClose>Done</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>