.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  #contextMenu {
    position: absolute;
    display: none;
  }