.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #contextMenu {
    position: absolute;
    display: none;
  }
  .next-button {
    margin: 50px 20px 15px;
    background-color:lightskyblue;
  }
  .back-button {
    margin: 50px 20px 15px;
    background-color:darkgray;
    }