<!-- <button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out content type</ng-template>
            <h1 mat-dialog-title>Select Content Type</h1>
            <mat-form-field appearance="fill">
                <label for="contenttype">Content type</label>
                <mat-select formControlName="firstCtrl" (selectionChange)="changecontenttype($event)"
                    aria-required="true">
                    <mat-option *ngFor="let ct of listcontentdatas" [value]="ct.entry.id">
                        {{ct.entry.id}}
                    </mat-option>
                </mat-select>
                <!-- <step1-component #step1></step1-component> -->
            </mat-form-field>
            <div>
                <button class="next-button" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <!-- <form [formGroup]="secondFormGroup"> -->
            <ng-template matStepLabel>Fill out your Document</ng-template>
            <adf-upload-button [rootFolderId]="nodeId" [adf-check-allowable-operation]="'create'" [multipleFiles]="true"
                [majorVersion]="true" [nodeType]="selectedcontenttype" (beginUpload)="onBeginUpload($event)"
                (success)="onUploadFiles($event)" (error)="onUploadError($event)" *ngIf="upload">
            </adf-upload-button>
            <!-- <span>Do you want to proceed upload</span> {{Existingdatanamelist}} <span>file with Version? if yes proceed with version,no means proceed with autorename.</span> -->
           <div *ngIf="Existingdatanamelist.length>0">
            <span>Below files are already exist in this folder</span>
            <table *ngIf="Existingdatanamelist.length>0" class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody *ngFor="let item of Existingdatanamelist;let id = index">
                    <tr>
                        <td>
                            <span>{{ id }}</span>
                        </td>
                        <td>
                            <span>{{ item }}</span>
                        </td>
                      </tr>
                </tbody>
              </table>
              <div *ngIf="Existingdatanamelist.length>0">
                <mat-slide-toggle [(ngModel)]="isCheckedversion" (change)="onChangesliderversion($event)">Slide Toggle to update version</mat-slide-toggle>
                <mat-slide-toggle [(ngModel)]="isCheckedrename" (change)="onChangeslidername($event)">Slide Toggle to update rename</mat-slide-toggle>
            </div>
           </div>
           
            <div>
                <adf-file-uploading-dialog></adf-file-uploading-dialog>
            </div>
            <!-- </mat-form-field> -->
            <!-- <step2-component #step2></step2-component> -->
            <div>
                <button class="back-button" mat-button matStepperPrevious>Back</button>
                <button class="next-button" mat-button matStepperNext>Next</button>
            </div>
        <!-- </form> -->
    </mat-step>
    <mat-step label="Apply Content Type" [stepControl]="thirdFormGroup" [editable]="isEditable" *ngIf="!uploadversion">
        <form [formGroup]="thirdFormGroup">

            <adf-content-metadata-card [node]="nodedata">
            </adf-content-metadata-card>
            <!-- <adf-content-metadata-card [displayEmpty]="false" [preset]="'my-preset'" [node]="node">
            </adf-content-metadata-card> -->
            <mat-checkbox class="" (change)="checkboxevent($event)">Apply Changes for to all the Document</mat-checkbox>
            <!-- <step3-component #step3></step3-component> -->
            <div>
                <button class="back-button" mat-button matStepperPrevious type="button">Back</button>
                <button class="next-button" mat-button matStepperNext type="button">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Status">
        <!-- <div [hidden]="!visible">
            Upload failed: {{ errorCode | adfFileUploadError }}
        </div> -->
        <div *ngIf="!visible">
            <span>
                <h3><strong> Total file Upload failed: {{ totalerrorfiles }}</strong></h3>
            </span>
        </div>
        <div *ngIf="visible">
            <span>
                <h3><strong> Total file Uploaded successCount : {{ totalCompletefiles }}</strong></h3>
            </span>
        </div>
        <div *ngIf="uploadversion">
            <span>
                <h3><strong> Major version changed files are : {{ Existingdatanamelist }}</strong></h3>
            </span>
        </div>
        <div>
            <button mat-button matDialogClose>Done</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>