<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb class="files-breadcrumb" root="Personal Files" [target]="documentList"
      [folderNode]="documentList.folderNode">
    </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>

  <!-- <adf-upload-button [rootFolderId]="documentList.currentFolderId || '-root-'"
    [adf-check-allowable-operation]="'create'" [multipleFiles]="true" (success)="uploadSuccess($event)">
  </adf-upload-button> -->

  <!-- <adf-upload-button [rootFolderId]="documentList.currentFolderId || '-root-'" [multipleFiles]="true"
    (click)="openSelectorDialog()">
  </adf-upload-button> -->

  <!-- <adf-upload-button [rootFolderId]="documentList.currentFolderId || '-root-'" [multipleFiles]="true"
  [nodeType]="'cm:content'" (beginUpload)="onUploadPermissionFailed($event)" (click)="openSelectorDialog()">
</adf-upload-button> -->

  <div class="adf-toolbar--spacer"></div>
  <adf-search-control [highlight]="true" (submit)="onSearchSubmit($event.target)">
    <adf-empty-search-result>
      <span>No Record Found.</span>
    </adf-empty-search-result>
  </adf-search-control>
  <!-- <adf-search-filter  [showContextFacets]=true (onsearch)="onSearchevent($event.target)"></adf-search-filter> -->
  <!-- <adf-search-filter #settings [showContextFacets]=true (submit)="onSearchevent()"></adf-search-filter> -->

  <input type="text" [searchAutocomplete]="search" id="search">

  <adf-search #search="searchAutocomplete" (submit)="onSearchevent($event)">
    <!-- <ng-template let-result>
        <span *ngFor="let item of result?.list?.entries">
            {{ item?.entry.name }}
        </span>
    </ng-template> -->
  </adf-search>
</adf-toolbar>
<adf-document-list #documentList currentFolderId="-root-" (preview)="showPreview($event)" [contentActions]="true"
  [contextMenuActions]="true">
  <data-columns>
    <data-column key="$thumbnail" type="image"></data-column>
    <data-column title="Name" key="name" sortable="true" class="full-width ellipsis-cell">
    </data-column>
    <data-column title="Size" key="content.sizeInBytes" sortable="true" type="fileSize"
      class="full-width ellipsis-cell">
    </data-column>
    <data-column title="Created By" key="createdByUser.displayName" sortable="true" class="desktop-only">
    </data-column>
    <data-column title="Created On" key="createdAt" type="date" format="medium" sortable="true" class="desktop-only">
    </data-column>
    <data-column title="Modified By" key="modifiedByUser.displayName" sortable="true" class="desktop-only">
    </data-column>
    <data-column title="Modified On" key="modifiedAt" type="date" format="medium" sortable="true" class="desktop-only">
    </data-column>
    <data-column title="Content Type" key=""  sortable="true" class="desktop-only">
    </data-column>
  </data-columns>
  <content-actions>
    <!-- system handler -->
    <content-action target="document" title="copy" permission="update" [disableWithNoPermission]="true" handler="copy">
    </content-action>
    <content-action target="document" title="Delete" permission="delete" disableWithNoPermission="true" handler="delete"
      (execute)="myCustomActionAfterDelete($event)">
    </content-action>

    <!-- custom handler -->
    <content-action target="folder" title="Folder Count" (execute)="myfoldercountdetails($event)">
    </content-action>
    <content-action target="folder" title="All Nested Folder Count" (execute)="onSearchevent($event)">
    </content-action>
    <content-action target="folder" title="File Count" (execute)="myfilecountdetails($event)">
    </content-action>
    <content-action target="folder" title="Secondary child" (execute)="secondaychildcount($event)">
    </content-action>
    <content-action target="document" title="File Count" (execute)="myfilecountdetails($event)">
    </content-action>
    <content-action target="folder" title="BulkUpload" (execute)="openSelectorDialog($event)">
    </content-action>
    <!-- <content-action target="all" title="My action" handler="my-handler" (execute)="myDocumentActionHandler($event)">
    </content-action> -->
    <!-- <content-action target="all" title="GetContentTypeList" handler="my-handler" (execute)="getcontenttypelist()">
    </content-action> -->
  </content-actions>

</adf-document-list>

<adf-pagination [target]="documentList" [supportedPageSizes]="[5, 10, 15, 20]" [pagination]="10">
</adf-pagination>

<!-- <adf-file-uploading-dialog></adf-file-uploading-dialog> -->